﻿.align-center {
    align-items: center !important;
}

.ajax-loading {
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 30001;
    opacity: .8;
    filter: alpha(opacity=70);
    display: none;
}

.ajax-loading p {
    color: White;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}