﻿<div class="col-xs-9 col-md-8">
    <div class="card-body">
        <div class="card">
            <div class="row">
                <div class="card-body property-card">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="row row-no-gutters">
                                <div class="col-sm-6">
                                    <label class="control-label col-sm-12">Deposit amount: </label>
                                </div>
                                <div class="col-sm-6">
                                    <input type="number" class="form-control"  id="txt-deposit-amount" nkeypress="return IsNumberKey(event)" min="300" max="10000" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" id="btn-deposit">Deposit</button>
        </div>
    </div>
</div>