﻿@using Bank.Web.Models.Banking
@model ViewBanking
@{
    ViewData["Title"] = "Banking Transaction";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/banking.scss")" />
}

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/js/notify.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/banking.js")"></script>
}
<div id="divLoading" class="ajax-loading text-center" hidden>
    <p>
        Loading... Please wait...<img src="~/img/loader/ajax-loader.gif" />
    </p>
</div>

<div align="center" class="container-fluid" id="pnl-banking" data-deposit="@Url.Action("Deposit", "Banking")" data-withdraw="@Url.Action("Withdraw", "Banking")">
    <h1 class="display-4 text-center">Mini-Banking App</h1>
    <div class="">
        <div class="col-xs-9 col-md-4">
            <div class="card-body">
                <div class="card text-center">
                    <div class="row">
                        <div class="card-body property-card">
                            <label class="control-label col-sm-12">Current Balance: </label>
                            <div class="col-sm-12">
                                <div id="div-current-balance">
                                    @Model.CurrentBalance
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="">
        <partial name="/Views/Banking/_Deposit.cshtml" />
        <partial name="/Views/Banking/_Withdraw.cshtml" />
    </div>
</div>
